@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Kdam+Thmor+Pro&family=Pacifico&display=swap');

body{
/* font-family: 'Fascinate', cursive; */
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Pacifico', cursive;
text-align: center;



}
